# Dependency directories
node_modules/
jspm_packages/

# Distribution directory
dist/

# Test coverage
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Package files
*.tgz
*.gz
*.zip
*.rar
*.tar

# dotenv environment variables file
.env
.env.test

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
Thumbs.db